.dub
docs.json
__dummy.html
docs/
/feedbackaggregator
feedbackaggregator.so
feedbackaggregator.dylib
feedbackaggregator.dll
feedbackaggregator.a
feedbackaggregator.lib
feedbackaggregator-test-*
*.exe
*.o
*.obj
*.lst
*~